.env

# Python cache files
__pycache__/
*.py[cod]

# Virtual environment
.venv/
venv/
# Editor configurations
.vscode/

# pytest
.pytest_cache/

# mypy
.mypy_cache/

# Type checking
.pytype/

# Docker
.dockerignore

# env variables
.env