services:
  redis:
    image: redis:latest
    container_name: redis
    restart: always
    ports:
      - "6379:6379"

  application_service:
    build:
      context: .
      dockerfile: src/application_service/Dockerfile
    container_name: application_service
    ports:
      - "8000:80"
    volumes:
      - ./src/application_service:/app
    depends_on:
      - redis
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379

  notification_services:
    build:
      context: .
      dockerfile: src/notification_services/Dockerfile
    container_name: notification_services
    volumes:
      - ./src/notification_services:/app
    depends_on:
      - redis
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
    tty: true
    stdin_open: true

  db_service:
    build:
      context: .
      dockerfile: src/db_service/Dockerfile
    container_name: db_service
    volumes:
      - ./src/db_service:/app
    depends_on:
      - redis
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
    tty: true
    stdin_open: true